<div class="col-sm-3">
  <!-- Left column -->
  <a href="/accueil"><h4><i class="fa fa-home"></i> Accueil Testeur</h4></a>

  <ul class="nav nav-stacked">

    <li class="nav-header"> <a href="#" data-toggle="collapse" data-target="#userMenu"><i class="fa fa-cube"></i><Strong> Administration des applications </Strong><i class="fa fa-chevron-down"></i></a>
      <ul class="nav nav-stacked collapse" id="userMenu">
        <li><a href="/accueil"><i class="fa fa-caret-right"></i> Liste des applications </a></li>
        <li><a href="/genererPdf"><i class="fa fa-caret-right"></i> Générer PDF</a></li>
        <li><a href="/listeDossier"><i class="fa fa-caret-right"></i> Liste des dossiers</a></li>
        <li><a href="/listeEtape"><i class="fa fa-caret-right"></i> Liste des étapes</a></li>
      </ul>
    </li>
    <li class="nav-header"> <a href="#" data-toggle="collapse" data-target="#menu2"><i class="fa fa-briefcase"></i><Strong> Administration des tests </Strong><i class="fa fa-chevron-down"></i></a>
      <ul class="nav nav-stacked collapse" id="menu2">
        <li><a href="/listeTest"><i class="fa fa-caret-right"></i> Liste des tests </a></li>
        <li><a href="/listeTestSpecifique"><i class="fa fa-caret-right"></i> Liste des tests spécifiques</a></li>
        <li><a href="/listAppTest"><i class="fa fa-caret-right"></i> Resultats des tests </a></li>
        <li><a href="/listeApplication"><i class="fa fa-caret-right"></i> Exécuter des tests</a></li>
      </ul>
    </li>
    <li class="nav-header">
      <a href="#" data-toggle="collapse" data-target="#menu3"><i class="fa fa-list"></i><Strong>  Administration des recettes</Strong> <i class="fa fa-chevron-down"></i></a>
      <ul class="nav nav-stacked collapse" id="menu3"> <!-- in -->
        <li><a href="/listeRecette"><i class="fa fa-caret-right"></i> Liste des recettes</a></li>
      </ul>
    </li>
  </ul>

  <hr>

  <ul class="nav nav-pills nav-stacked">
    <li class="nav-header"></li>
    <li><a href="/dashboard"><i class="fa fa-area-chart"></i> Statistiques</a></li>
  </ul>

  <ul class="nav nav-pills nav-stacked">
    <li class="nav-header"></li>
    <li><a href="/envoiEmail"><i class="fa fa-envelope-o"></i> Envoi E-mail</a></li>
  </ul>

  <hr>

  <a href="#"><h4><i class="fa fa-user"></i> Utlisateur</h4></a>

  <ul class="nav nav-pills nav-stacked">
    <li class="nav-header"></li>
    <li><a href="/profile"><i class="fa fa-user"></i> Ma page</a></li>
    <li><a href="/logout"><i class="fa fa-lock"></i> Déconnexion</a></li>
  </ul>

  <hr>

</div>
