<div class="form-group">
	<div class="col-lg-1">
	  <h4 style="color: black">  Dossiers : </h4>
	</div>
	<div class="col-lg-2">
	  <select class="form-control" tabindex="-1" id="dossierDash" name="typeTest"  onchange="getval(this);" placeholder = "Dossier">
		<option value="1">Dossier</option>
	  </select>
	</div>
	<div class="col-xs-2 hidden">
	  <select class="form-control" tabindex="-1" id="etapeDash" name="typeTest" placeholder = "Etape">
		<option value="1">Etape</option>
	  </select>
	</div>
	<div class="col-xs-2 hidden">
	  <select class="form-control" tabindex="-1" id="applicationDash" name="typeTest" placeholder = "Application">
		<option value="1">Application</option>
	  </select>
	</div>
</div>