<div class="hidden">
<hr>
	<a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne"><strong><i class="fa fa-comment"></i> Notifications <span class="badge bg-red-gradient"> 3 </span></strong></a>
<hr>

<div class="row">
  <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
    <ul class="list-group">
      <li class="list-group-item"><a href="#"><i class="fa fa-flash"></i> <small>(il ya 2 heures)</small> Developpeur 1 a validé .......</a></li>
      <li class="list-group-item"><a href="#"><i class="fa fa-flash"></i> <small>(il y a 4 heures)</small> Developpeur 1 a validé .......</a></li>
      <li class="list-group-item"><a href="#"><i class="fa fa-flash"></i> <small>(hier)</small> Developpeur 1 a validé .......</a></li>
      <li class="list-group-item"><a href="#"><i class="fa fa-flash"></i> <small>(hier)</small> ..</a></li>
    </ul>
  </div>
</div>
</div>
