<!-- Page d'inscription, il faut s'inscrire avant de se connecter-->
<h1>Inscription</h1>
<form method="POST" action="/user"> <!--Mi-creer user-->
  <input type="email" name="email">
  <input type="password" name="password">
  <input type="submit" value="s'inscrire">
</form><br>
<form action="/login">
  <input type="submit" value="login">
</form>
