<!DOCTYPE html>
<!-- Page d'authentification-->
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <!-- Meta, title, CSS, favicons, etc. -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Recette application | Authentification</title>
  <meta name="generator" content="Bootply" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <link href="css/bootstrap.min.css" rel="stylesheet">
  <link href="css/stylesLogin.css" rel="stylesheet">
  <link href="fonts/css/font-awesome.css" rel="stylesheet">
  <link href="fonts/css/font-awesome.min.css" rel="stylesheet">
</head>

<body>
<div class="container">
  <div class="container">
    <div id="loginbox" style="margin-top:50px;" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
      <div class="panel panel-info" >
        <div class="panel-heading">
          <div class="panel-title" align="center"><h3><span><i class="fa fa-list"></i>   Recette application - Authentification</span></h3></div>
        </div>

        <div style="padding-top:30px" class="panel-body" >
          <div style="display:none" id="login-alert" class="alert alert-danger col-sm-12"></div>

          <form method="POST" action="/login" class="form-horizontal" role="form">

            <div style="margin-bottom: 25px" class="input-group">
              <span class="input-group-addon"><i class="fa fa-user"></i></span>
              <input id="email" name="email" type="name" class="form-control" placeholder="Numero matricule" required />
            </div>

            <div style="margin-bottom: 25px" class="input-group">
              <span class="input-group-addon"><i class="fa fa-lock"></i></span>
              <input id="password" name="password" type="password" class="form-control" placeholder="Mot de passe" required />
            </div>
            <button id="btn-fblogin" type="submit" class="btn btn-md btn-primary btn-block ">Connexion</button>

          </form>
          </br>
          <!-- Alert -->
          <div class="form-group">
            <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
              <div class="alert alert-danger fade in">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                <strong>Erreur: </strong> Votre matricule ou votre mot de paase mot de passe est invalide.
              </div>
            </div>
          </div>
          <!-- /Alert -->
        </div>
      </div>
    </div>
  </div>
</div>
</body>
</html>
