<!DOCTYPE html>

<html lang="en">
<head>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <meta charset="utf-8">
  <title>Recette - Ajout application</title>
  <meta name="generator" content="Bootply" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <link href="css/bootstrap.min.css" rel="stylesheet">
  <link href="css/styles.css" rel="stylesheet">
  <link href="fonts/css/font-awesome.css" rel="stylesheet">
  <link href="fonts/css/font-awesome.min.css" rel="stylesheet">
</head>
<body onLoad="getLsDossier()">
<!-- HEADER -->
<% include ../header.ejs %>
<!-- /HEADER -->
<!-- Menu GAUCHE -->
		<% var disable = "";
		if(req.session.droit == 0){
			disable = "hidden";}
		%>

<!-- CONTAINER -->
<div class="container-fluid">
  <div class="row">
    <div id="menuCenter">
      <!-- avant container -->
      
         <!-- include menu à gauche -->
      <!-- /avant container-->

      <div class="row"> <!-- CONTAINER -->
        <div class="">
          <div class="page-title">
            <div class="title_left">
              <h2>
                Fiche recette
                <small>
                  Ajout application
                </small>
              </h2>
            </div>
          </div>
          </br>
          <div class="clearfix"></div>

          <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
              <div class="x_panel">
                <div class="x_content">
                  <div class="x_panel">
                    <div class="x_title">
                      <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                      <br />

                      <form method="POST" action="/ajoutApplication" id="demo-form2" data-parsley-validate class="form-horizontal form-label-left" style="margin-left:150px">
                        <div class="form-group">
                          <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">Nom application :<span class="required"></span>
                          </label>
                          <div class="col-md-6 col-sm-6 col-xs-12">
                            <input type="text" id="nom_application" required="required" name="nom_application" class="form-control col-md-7 col-xs-12">
                          </div>
                        </div>
                        <div class="form-group">
                          <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">Description de l'application :<span class="required"></span>
                          </label>
                          <div class="col-md-6 col-sm-6 col-xs-12">
                            <input type="text" id="description" required="required" name="description" class="form-control col-md-7 col-xs-12">
                          </div>
                        </div>
                        <div class="form-group">
                          <label class="control-label col-md-3 col-sm-3 col-xs-12" for="last-name">Numero dossier :<span class="required"></span>
                          </label>
                          <div class="col-md-6 col-sm-6 col-xs-12">
                            <input readonly type="text" id="id_dossier" name="id_dossier" required="required" class="form-control col-md-7 col-xs-12" value = "<%= dossier.num_dossier %>">
                            <input readonly type="text" id="dossierNum" name="dossier_num" required="required" class="form-control col-md-7 col-xs-12 hidden" value = "<%= dossier.id_dossier %>">
                          </div>
                        </div>
						<div class="form-group">
							<label class="control-label col-md-3 col-sm-3 col-xs-12" for="last-name">Chemin :<span class="required"></span>
							</label>
							<div class="col-md-6 col-sm-6 col-xs-12">
								<input type="text"  id="chemin" name="chemin" required="required" class="form-control col-md-7 col-xs-12">
							</div>
						</div>

                        <div class="ln_solid"></div>
                        <div class="form-group">
                          <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                            <button type="submit" class="btn btn-primary">Ajouter</button>
                          </div>
                        </div>

                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <br />
            <br />
            <br />

          </div>
        </div>
      </div>


      <!-- Notifications -->
      <% include ../notifications.ejs %>
      <!-- /Notifications -->
    </div>
  </div>
</div>
<!-- /CONTAINER -->
<!-- Footer -->
		<center><% include ../footer.ejs %></center>
		<!-- /Footer -->

<!-- script  -->
<script src="/js/base.min.js"></script>
<script src="/js/project.min.js"></script>

<script src="js/jquery.min.js"></script>

<script src="js/bootstrap.min.js"></script>
<script src="js/scripts.js"></script>

<!-- DOSSIER ETAPE APPLICATION -->
		<script src="js/dossierEtapeApp.js"></script>
</body>
</html>
