<!DOCTYPE html>

<html lang="en">
<head>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <meta charset="utf-8">
  <title>Recette - Liste des tests</title>
  <meta name="generator" content="Bootply" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <link href="css/bootstrap.min.css" rel="stylesheet">
  <link href="css/styles.css" rel="stylesheet">
  <link href="fonts/css/font-awesome.css" rel="stylesheet">
  <link href="fonts/css/font-awesome.min.css" rel="stylesheet">
  
  <script type="text/javascript" src="js/paging.js"></script>
</head>
<body onLoad="getLsDossier()">
<!-- HEADER -->
<% include ../header.ejs %>
<!-- /HEADER -->
<!-- Menu GAUCHE -->
		<% var disable = "";
		if(req.session.droit == 0){
			disable = "hidden";}
		%>
<!-- CONTAINER -->
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-9">
      <!-- avant container -->
		<% include ../dossierEtapeApp.ejs %>
	  
      </br>
      </br>
        <!-- include menu à gauche -->
      <!-- /avant container-->

      <div class="row">
        <div class="">
          <div class="page-title">
            <div class="title_left">
              <h2>
                Fiche recette
                <small>
                  Liste des tests spécifiques
                </small>
              </h2>
            </div>
          </div>
          </br>
          <div class="clearfix"></div>

          <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
              <div class="x_panel">
                <div class="x_title">
                  <div class="clearfix"></div>
                </div>
                <div class="x_content">
                  <table id="resultsTest" class="table table-striped responsive-utilities jambo_table">
                    <thead>
                    <tr class="headings">
                      <th>ID</th>
					<th><i class="fa fa-paperclip"></i> Test </th>
					<th> <i class="fa fa-filter"></i> Type test </th>
					<th><i class="fa fa-pencil"></i>  Modifier </th>
					<th><i class="fa fa-trash"></i> Supprimer </th>
					<th class=" no-link last"><i class="fa fa-file-text"></i> Détails</span>
					</th>
                    </tr>
                    </thead>
                    <tbody>
                    <% tests.forEach(function(test){ %>
                    <tr class="even pointer">
                      <td class=" "><%= test.id_test %></td>
                      <td class=" "><%= test.nom_test %></td>
                      <td class=" "><%= test.nom_type_test %></td>
                      <td class=" last"><a href="/testSpecById?id=<%= test.id_test %>">Modifier</a>
                      </td>
                      <td class=" last"><a href="#">Supprimer</a>
                      </td>
                      <td class=" last"><a href="#">Voir détails</a>
                      </td>
                    </tr>
                    <% }); %>
                    </tbody>
                  </table>
				  <div id="pageNavPosition"></div>
                </div>
              </div>
            </div>
            <br />
            <br />

          </div>
          <a href = "/ajoutTestSpecifiqueApplication"><button type="button" class="btn btn-primary collapse-link">Ajouter nouveau test spécifique</button></a>
        </div>
      </div>
      <!--/row-->


      <!-- Notifications -->
      <% include ../notifications.ejs %>   <!-- include menu à gauche -->
      <!-- /Notifications -->
    </div>
    <!--/col-span-9-->
  </div>
</div>
<!-- /Main -->
<!-- Footer -->
		<center><% include ../footer.ejs %></center>
		<!-- /Footer -->

<!-- script references -->
<script src="/js/base.min.js"></script>
<script src="/js/project.min.js"></script>

<script src="js/jquery.min.js"></script>

<script src="js/bootstrap.min.js"></script>
<script src="js/scripts.js"></script>

<script type="text/javascript"><!--
        var pager = new Pager('resultsTest', 10);
        pager.init();
        pager.showPageNav('pager', 'pageNavPosition');
        pager.showPage(1);
    //--></script>

<!-- DOSSIER ETAPE APPLICATION -->
	<script src="js/dossierEtapeApp.js"></script>
</body>
</html>
